:host {
    --tc-spacing: 1rem;
    --tc-indicator-spacing: 0.75rem;
    --tc-indicator-width: 0.5rem;
    -webkit-tap-highlight-color: transparent;
}

ha-card {
    height: 100%;
    transition: box-shadow 180ms ease-in-out, border-color 180ms ease-in-out;
}

/*noinspection CssUnresolvedCustomProperty*/
ha-card:has(.background:focus-visible) {
    --shadow-default: var(--ha-card-box-shadow, 0 0 0 0 transparent);
    --shadow-focus: 0 0 0 1px var(--state-inactive-color);
    border-color: var(--state-inactive-color);
    box-shadow: var(--shadow-default), var(--shadow-focus);
}

[role="button"] {
    cursor: pointer;
    pointer-events: auto;
}

/*noinspection CssUnresolvedCustomProperty*/
.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: var(--ha-card-border-radius, 12px);
    margin: calc(-1 * var(--ha-card-border-width, 1px));
    overflow: hidden;
}

.event {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--tc-spacing);
}

.event:last-child {
    margin-bottom: 0;
}

.indicator {
    flex: 0 0 auto;
    align-self: stretch;
    margin-right: var(--tc-indicator-spacing);
    width: var(--tc-indicator-width);
    border-radius: calc(var(--tc-indicator-width) / 2);
}

.details {
    flex: 1 1 auto;
}

.title {
    margin: 0;
}

.title strong {
    font-weight: bold;
}

/*noinspection CssUnresolvedCustomProperty*/
.title span {
    color: var(--secondary-text-color);
}

/*noinspection CssUnresolvedCustomProperty*/
.schedule {
    margin: 0;
    color: var(--secondary-text-color);
}
